<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>DataTrack - A Dashboard to keep track of your data</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="shortcut icon" href="../../img/logotop.png">

<link href="../../icons/font-awesome-4.3.0.2/css/font-awesome.min.css"
	rel="stylesheet">
<link href='../../css/fonts.css' rel="stylesheet" type="text/css">
<link href="../../css/synlig.css" rel="stylesheet">

<link
	href="../../css/datatrack-traceview-css/datatrack-traceview-main-style.css"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css"
	href="../../css/datatrack-traceview-css/jquery.qtip.css"></link>
<link href="../../css/plugins/bootstrap/css/bootstrap.css"
	rel="stylesheet"></link>

<link href='../../css/datatrack-header-css.css' rel="stylesheet"
	type="text/css">

</head>
<body>
	<script src="../../js/plugins/jquery/jquery-1.11.1.min.js"></script>
	<script src="../../js/plugins/d3/d3.js" charset="utf-8"></script>
	<!-- this file is for showing font awesome icons on d3 graph -->
	<script
		src="../../js/synlig-js/datatrack-traceview-js/font-awesome-unicode-map.js"
		charset="utf-8"></script>
	<!-- this file is for tooltips -->
	<script src="../../js/synlig-js/datatrack-traceview-js/jquery.qtip.js"
		type="text/javascript"></script>
	<!-- this file is for main functions for showing d3 graph -->
	<script
		src="../../js/synlig-js/datatrack-traceview-js/datatrack-traceview-d3main-funcs.js"
		charset="utf-8"></script>
	<!-- this file is for neccessary functions to help main functions of showing graph and its functionality-->
	<script
		src="../../js/synlig-js/datatrack-traceview-js/datatrack-traceview-d3helpers-funcs.js"></script>
	<!-- this file is for categorizing attribtes on the filter part -->
	<script
		src="../../js/synlig-js/datatrack-traceview-js/type-category-map.js"></script>

	<script type="text/javascript" src="../../js/sonic.js"></script>
	<script src="../../js/loading.js"></script>

	<!-- ALL NAVIGATION MENUS AND BARS -->
	<div id="wrapper">
		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="logotop" href="../../index.html"> <img alt="Brand"
							src="../../img/logo.png"><span class="headerfont">
								Data Track </span>
						</a>
					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav nav-pills nav-justified colorset">
							<li><a href="../timeline/"> <i
									class="fa fa-clock-o fa-fw fa-2x"></i><br>Timeline
							</a></li>
							<li><a href="../map/"> <i
									class="fa fa-globe fa-fw fa-2x"></i><br>Map
							</a></li>
							<li class="active"><a href="#"> <i
									class="fa fa-bullseye  fa-fw fa-2x"></i><br>Trace view
							</a></li>
						</ul>

					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>

		<!-- ********************* -->
		<!-- begin MAIN PAGE CONTENT -->
		<div id="main">
			<!-- insertig of traceview body -->
			<div class="part-main-content">
				<!-- placesvg - Makes the filter not transparent together with the SVG -->
				<div class="placesvg"></div>
			</div>
		</div>
		<!-- id=main -->
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container bottom-container">
				<p class="pull-left textfoot">
					<a href="https://www.kau.se/en" target="_blank"><img class="logofoot" src="../../img/logo.png" alt="Karlstad University"></a>
					<a href="https://www.kau.se/en/cs" target="_blank">Computer Science</a> at
					<a href="https://www.kau.se/en" target="_blank">Karlstad University</a>
				</p>

				<p class="pull-right">
					Funded by <a href="http://www.a4cloud.eu/" target="_blank">A4Cloud</a> <a href="http://www.a4cloud.eu/" target="_blank"> <img
						class="logofoot" src="../../img/logocloud.png" alt="a4cloud">
					</a>

				</p>
			</div>
		</div>
	</div>
	
	<div id="loading" aria-hidden="true">
		<div id="loadingSonic"></div>
		<div class="loadingMsg">Loading, this might take some time...</div>
	</div>

	<!-- GLOBAL SCRIPTS -->
	<script type="text/javascript"
		src="../../js/plugins/bootstrap/bootstrap.min.js"></script>

</body>

</html>
